<p id="notice"><%= notice %></p>
<br>
<div class="btn btn-facebook"><i class="fa fa-facebook"></i> <%= link_to('| Post', new_picture_path, class: 'hello_book') %></div>
<br><br>
<!--
<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Image</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
-->
    <% @pictures.each do |picture| %>
        <p class = "style1"></p>
        <p>user: <%= picture.user.name %></p><br>
        <%= picture.content %><br>
        <%= image_tag(picture.image.url, class: "images") if picture.image && picture.image.url %><br><br>
        <%= link_to('Show', picture, class:"btn btn-default") %>
        <%= link_to('Edit', edit_picture_path(picture), class:"btn btn-default") %></td>
        <%= link_to('Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default") %></td><br><br>
    <% end %>
<!--
  </tbody>
</table>
-->
<div class="btn btn-facebook"><i class="fa fa-facebook"></i> <%= link_to('| Post', new_picture_path, class: 'hello_book') %></div>
<!--<button class="btn btn-facebook"><i class="fa fa-facebook"></i> | Connect with Facebook</button>-->