<!DOCTYPE html>
<html> 
  <head>
    <link href="../../assets/stylesheets/bootstrap-social.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <title>SessionLogin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body class = "wrapper">
    <header>
      <div><img src = '/fff.png', class = "img_hed"></div>
    </header>
    <!--
    <% flash.each do |key, msg|%>
      <%= content_tag(:div, msg, class:"#{key}")%>
    <% end %>
    -->
    <% if logged_in? %>
     <%= link_to "Profile", user_path(current_user.id) %>
     <%= link_to "Logout", session_path(current_user.id), method: :delete %>
    <% else %>
      <br>
      <div class="btn btn-facebook"><i class="fa fa-facebook"></i><%= link_to " | sign up", new_user_path, class: 'hello_book'%></div>
      <div class="btn btn-facebook"><i class="fa fa-facebook"></i><%= link_to " | Login", new_session_path, class: 'hello_book'%></div>
      <br>
    <% end %>
    <div class = "main_body">
      <%= yield %>
    </div>
    <footer>
      <!--<img src = '/fff.png', class = "img_foot"><-->
    </footer>
  </body>
</html>
